:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.hero {
  height: 50vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(70, 201, 249, 0.5),
      rgba(203, 133, 225, 0.5)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
